<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex">
	<div class="letterBox w-50">
		<div class="h-50 mainLetter1 font-weight-bold d-flex align-items-end justify-content-center pr-5 mr-4"><span>홍보가 잘되는<br>
			당신 물건<br>
			무조건 매진</span></div>
		<div class="h-50 mainLetter2 d-flex align-items-start justify-content-center pl-5 pt-4"><span>동네라서 가능한 모든것<br>
			당무에서 가까운 이웃과 함께해요</span></div>
	</div>
	
	<div class="h-100 w-50 d-flex justify-content-center align-items-center">
		<img src="/img/rabbit.png" class="h-75 w-50">
	</div>
</section>

<th:block layout:fragment="script">
	<script>
		
	</script>
</th:block>