<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.market.post.mapper.PostMapper">
 	<select id="selectPostListTest" resultType="map">
 		SELECT
			*
		FROM
			`post`
 	</select>
 	<select id="selectPostList" resultType="com.market.post.domain.Post">
 		SELECT
 			`id`
			,`userId`
			,`subject`
			,`price`
			,`address`
			,`content`
			,`state`
			,`buyerId`
			,`isEvaluated`
			,`createdAt`
			,`updatedAt`
		FROM
			`post`
 	</select>
 	<insert id="insertPost" parameterType="com.market.post.domain.Post" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO `post`
 		(
			`userId`
			,`subject`
			,`price`
			,`address`
			,`content`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{userId}
 			, #{subject}
 			, #{price}
 			, #{address}
 			, #{content}
 			, NOW()
 			, NOW()
 		)
 	</insert>
 	<insert id="insertImage" parameterType="map">
 		INSERT INTO `image`
 		(
			`postId`
			,`imagePath`
			,`createdAt`
 		)
 		VALUES
 		(
 			#{postId}
 			, #{imagePath}
 			, NOW()
 		)
 	</insert>
 	<select id="selectImageByPostId" parameterType="int" resultType="com.market.post.domain.Image">
 		SELECT
 			`id`
			,`postId`
			,`imagePath`
			,`createdAt`
 		FROM `image`
 		WHERE
 			`postId` = #{postId}
 		ORDER BY `id` DESC
 		LIMIT 1
 	</select>
 </mapper>