<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents">
	<div class="orangeBox d-flex justify-content-center">
		<div class="h-100 w-75">
			<!-- 제목 및 배열순위버튼 -->
			<div class="exchangeLetter d-flex">
				<div class="h-100 w-75 d-flex align-items-center justify-content-end">
					<span class="exchangeLetter1 mr-5 pr-5">중고거래 인기매물</span>
				</div>
				<div class="h-100 w-25 d-flex justify-content-center align-items-center">
					<select id="listOrder">
					  <option selected value="latestOrder">최신 제품순</option>
					  <option value="popularityOrder">인기순</option>
					  <option value="descendingOrder">높은 가격순</option>
					  <option value="ascendingOrder">낮은 가격순</option>
					</select>
				</div>
			</div>
			
			<!-- 물품 리스트 -->
			<div class="exchangeList d-flex flex-wrap" th:fragment="postListFragment">
				<!-- 제품 1개 -->
				<div th:each="cardView : ${cardViewList}" class="productOne mr-1 ml-2 d-flex justify-content-center">
					<div class="h-100 w-75">
						<a th:href="|/post/post-detail-view?postId=${cardView.post.id}|" class="postAnchor">
							<img th:src="${cardView.image.imagePath}" class="productImage mt-1 rounded" alt="제품 이미지">						
							<div class="pl-1 pt-1">
								<div class="postSubject" th:text="${cardView.post.subject}"></div>
								<div class="postPrice font-weight-bold pt-1" th:text="${cardView.post.price} + '원'"></div>
								<div class="postAddress pt-1" th:text="${cardView.post.address}"></div>
								<div class="likeCount pt-1" th:text="'관심 ' + ${cardView.likeCount}"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			
			<!-- 페이지 이동 -->
			<div class="changePage d-flex justify-content-center">
				<nav aria-label="Page navigation example">
				  <ul class="pagination">
				    <li th:classappend="${!prev} ? 'disabled'" class="page-item">
		                <a class="page-link" th:href="@{|/post/post-list-view?currentPage=${startPage - 1}|}" aria-label="Previous">
		                    <span aria-hidden="true">&laquo;</span>
		                </a>
           			</li>
		            <li th:each="pageNum : ${#numbers.sequence(startPage, endPage)}" th:classappend="${pageNum == currentPage} ? 'active'" class="page-item">
		                <a class="page-link" th:href="@{|/post/post-list-view?currentPage=${pageNum}|}" th:data-page="${pageNum}" th:text="${pageNum}"></a>
		            </li>
		            <li th:classappend="${!next} ? 'disabled'" class="page-item">
		                <a class="page-link" th:href="@{|/post/post-list-view?currentPage=${endPage + 1}|}" aria-label="Next">
		                    <span aria-hidden="true">&raquo;</span>
		                </a>
		            </li>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			let currentPage = 1;
			
			function fetchPosts(listOrder, currentPage) {
				$.ajax({
					url: "/post/post-list-view"
					, type: "GET"
					, data: {"listOrder":listOrder, "currentPage":currentPage}
					, success:function(data) {
						$(".exchangeList").html(data);
						// 페이징 버튼 최신화
						updatePagination();
					}
					, error:function(error) {
						alert("리스트 배열에 실패했습니다.");
					}
				});
			}
			
			$("#listOrder").on('change', function() {
				let listOrder = $(this).val();
				//alert(listOrder);
				
				// 정렬을 변경하면 다시 첫 페이지로 이동하기 위해
				currentPage = 1;
				
				fetchPosts(listOrder, currentPage);
			});
			
			$(".page-link").on('click', function() {
				let currentPage = $(this).data("page");
				//alert(currentPage);
				
				fetchPosts(listOrder, currentPage);
			});
		});
    </script>
</th:block>