<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center align-items-center">
	<div class="whiteBox d-flex justify-content-center">
		<div class="evaluateBox1">
			<!-- 거래는 어떠셨나요? -->
			<div class="evaluateBox2 w-100 d-flex justify-content-center align-items-end">
				<h2>거래는 어떠셨나요?</h2>
			</div>
			
			<!-- 00님에 대한 평가를 남겨주세요 -->
			<div class="evaluateBox3 w-100 d-flex">
				<!-- 프로필 사진 -->
				<div class="buyerProfile h-100 d-flex justify-content-center align-items-center">
					<img th:src="${buyUser.profileImagePath}" alt="상대방 프로필 이미지" class="h-100 w-75 rounded">
				</div>
				<!-- 이름 -->
				<div class="buyerName h-100 d-flex justify-content-center align-items-center">
					<h4 th:text="${buyUser.loginId}"></h4>
				</div>
				<!-- 님에 대한 평가를 남겨주세요. -->
				<div class="pleaseEvaluate h-100 d-flex align-items-center">
					<h4>님에 대한 평가를 남겨주세요.</h4>
				</div>
			</div>
			
			<!-- 별 -->
			<div class="evaluateBox4 w-100 d-flex justify-content-center">
				<div class="star_rating h-100 d-flex justify-content-center align-items-center">
					<span class="star on" value="1"></span>
					<span class="star on" value="2"></span>
					<span class="star on" value="3"></span>
					<span class="star" value="4"></span>
					<span class="star" value="5"></span>
				</div>
			</div>
			
			<!-- 평가하기 버튼 -->
			<div class="evaluateBox5 w-100 d-flex justify-content-center align-items-center">
				<button type="button" id="evaluate" class="btn btn-info" th:data-buyer-id="${buyUser.id}">평가하기</button>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			let starPoint = 1;
			
			// 별 클릭
			$(".star").on('click', function() {
				$(this).parent().children('span').removeClass('on');
				$(this).addClass('on').prevAll('span').addClass('on');
				starPoint = $(this).attr('value');
				//alert(starPoint);
			});
			
			// 평가하기 버튼 클릭
			$("#evaluate").on('click', function() {
				//alert("평가하기");
				
				let buyerId = $(this).data("buyer-id");
				
				$.ajax({
					type:"post"
					, url:"/user/evaluate"
					, data:{"starPoint":starPoint, "buyerId":buyerId}
					, success:function(data) {
						if (data.code == 200) {
							alert("평가가 완료되었습니다.");
							location.href = "/post/post-list-view";
						} else if (data.code == 403){
							alert(data.error_message);
							location.href = "/user/sign-in-view";
						} else {
							alert(data.error_message);
						}
					}
					, error:function(e) {
						alert("평가하는데 실패하였습니다.");
					}
				});
			}); // --- 평가하기 버튼 클릭 끝
		});
    </script>
</th:block>