<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<section layout:fragment="content" class="contents d-flex justify-content-center align-items-center">
	<div class="whiteBox d-flex justify-content-center">
		<div class="w-50 infoBox">
			<!-- 회원 프로필 -->
			<div class="profileBox d-flex">
				<div class="h-100 w-50 d-flex justify-content-center align-items-center">
					<img th:src="${user.profileImagePath}" alt="프로필 이미지" class="profileImage">
				</div>
				<div class="h-100 w-50 d-flex justify-content-center align-items-center">
					<h1 th:text="${user.loginId}"></h1>
				</div>
			</div>
			
			<!-- 회원 매너온도 -->
			<div class="degreeBox">
				<div class="h-50 w-100 d-flex justify-content-between align-items-center">
					<span class="ml-3 font-weight-bold">매너온도</span>
					<span class="mr-3" th:text="${user.degree} + '℃'"></span>
				</div>
				<div class="h-50 w-100 d-flex justify-content-center align-items-center">
					<div class="progress h-25">
					  <div th:if="${user.degree < 25}" class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:' + ${user.degree} + '%'" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					  <div th:if="${user.degree >= 25 && user.degree < 50}" class="progress-bar bg-success progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:' + ${user.degree} + '%'" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
					  <div th:if="${user.degree >= 50 && user.degree < 75}" class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:' + ${user.degree} + '%'" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					  <div th:if="${user.degree >= 75}" class="progress-bar bg-danger progress-bar-striped progress-bar-animated" role="progressbar" th:style="'width:' + ${user.degree} + '%'" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			</div>
			
			<!-- 거래현황 버튼 -->
			<div class="infoButtonBox">
				<div class="h-25 w-100 d-flex justify-content-center align-items-center">
					<button class="btn btn-secondary myLikeBtn">내가 찜한 목록</button>
				</div>
				<div class="h-25 w-100 d-flex justify-content-center align-items-center">
					<button class="btn btn-secondary myProductBtn">내가 올린 물품 목록</button>
				</div>
				<div class="h-25 w-100 d-flex justify-content-center align-items-center">
					<button class="btn btn-secondary myExchangeBtn">내가 거래요청한 물품 목록</button>
				</div>
			</div>
		</div>
	</div>
</section>

<th:block layout:fragment="script">
    <script>
		$(document).ready(function() {
			// 찜한 목록 버튼 클릭
			$(".myLikeBtn").on('click', function() {
				//alert("찜한 목록 클릭");
				location.href = "/post/like-view";
			}); // --- 찜한 목록 버튼 클릭 끝
			
			// 나의 거래 현황 클릭
			$(".myProductBtn").on('click', function() {
				//alert("나의 거래 현황 클릭");
				location.href = "/post/my-product-view";
			}); // --- 나의 거래 현황 클릭 끝
			
			// 내가 거래요청한 제품 목록 버튼 클릭
			$(".myExchangeBtn").on('click', function() {
				//alert("내가 거래요청한 제품 목록 버튼 클릭");
				location.href = "/post/my-exchange-view";
			}); // --- 나의 거래 현황 클릭 끝
		});
    </script>
</th:block>