<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<header th:fragment="headerFragment">
		<div class="d-flex h-100">
			<!-- 홍당무 로고(그림, 글자) -->
			<div class="d-flex align-items-center col-3 p-0">
				<a href="/main/main-view" class="h-75 w-100 logoAnchor">
					<img src="/img/carrot.png" alt="홍당무" class="h-75 w-50">
					<span class="logo1">홍당무</span>
				</a>
			</div>
			
			<!-- 메뉴 -->
			<nav class="menu d-flex align-items-center justify-content-center col-7">
				<ul class="nav nav-fill">
					<li class="nav-item p-5"><a href="/post/post-list-view?currentPage=1" class="nav-link">중고거래</a></li>
					<li class="nav-item p-5"><a href="/post/post-create-view" class="nav-link">글쓰기</a></li>
					<li class="nav-item p-5"><a href="/map/map-view" class="nav-link">동네지도</a></li>
				</ul>
			</nav>
			
			<!-- 로그인 -->
			<div class="col-2 d-flex justify-content-end align-items-center" th:if="${session.userId != null}">
				<a href="/user/info-view" class="userName" th:text="${session.userName} + '님'"></a>
				<a href="/user/sign-out" class="logout pl-3">로그아웃</a>
			</div>
			
			<div class="col-2 d-flex justify-content-end align-items-center" th:unless="${session.userId != null}">
				<a href="/user/sign-in-view" id="mainLoginBtn">로그인</a>
			</div>
		</div>
	</header>
</html>