@charset "UTF-8";

header {height:120px;}
.contents {min-height:550px; background:#FFE2B7;}
.orangeBox {height:550px; width:1150px; background:rgb(255, 249, 239);}
footer {height:100px; color:gray;}
.logo1 {font-size:40px;}
.nav {font-size:20px;}
.nav-link {color:gray;}
.nav-link:hover {color:black;}
#mainLoginBtn {color:gray;}
#mainLoginBtn:hover {color:black;}
.logoAnchor {color:black;}
.logoAnchor:hover {color:black; text-decoration:none;}
.copyright {color:gray;}
.mainLetter1 {font-size:50px;}
.mainLetter2 {font-size:30px; color:gray;}
.letterBox {height:520px;}
.whiteBox {min-height:450px; width:900px; border-radius:30px; background-color:white;}
#loginId {width:400px;}
#password {width:400px;}
#loginBtn {width:100px;}
.signInBtn {color:gray;}
.signInBtn:hover {color:black;}
.logout {color:gray;}
.logout:hover {color:black;}
.userName {color:black;}
.userName:hover {color:gray;}
.exchangeLetter {height:80px;}
.exchangeList {height:420px;}
.changePage {height:50px;}
.exchangeLetter1 {font-size:35px;}
.productOne {height:200px; width:200px; text-align:center; line-height:10px;}
.productImage {height:120px; width:145px;}
.infoBox {min-height:450px;}
.profileBox {height:180px;}
.degreeBox {height:100px;}
.infoButtonBox {height:170px;}
.unregisterBox {height:50px;}
.postSubject {font-size:12px; text-align:left; color:black;}
.postPrice {font-size:11px; text-align:left; color:black;}
.postAddress {font-size:11px; text-align:left; color:black;}
.likeCount {font-size:10px; text-align:left; color:gray;}
.postAnchor:hover {text-decoration:none;}
.profileImage {height:150px; width:150px;}
.progress {width:430px;}
.myLikeBtn {height:40px; width:430px;}
.myProductBtn {height:40px; width:430px;}
.myExchangeBtn {height:40px; width:430px;}
.detailBox {width:520px; margin: 0 auto;}
.productDetailImage {height:230px;}
.detailBox2 {min-height:100px; height:100px;}
.detailBox3 {width:400px;}
.detailBox4 {height:40px;}
.evaluateBox1 {width:600px;}
.evaluateBox2 {height:150px;}
.evaluateBox3 {height:100px;}
.evaluateBox4 {height:100px;}
.evaluateBox5 {height:100px;}
.buyerProfile {width:150px;}
.buyerName {width:90px;}
.pleaseEvaluate {width:360px;}
.star_rating {width:400px;}
.star {height:80px; width:80px; background:url(/img/star_empty.png);}

.star {
  width:60px; 
  height:60px; 
  margin-right: 10px;
  background: url('/img/star_empty.png') no-repeat; 
  background-size: 100%; 
}
.star.on {
  width:60px; 
  height:60px;
  margin-right: 10px;
  background: url('/img/star_fill.png') no-repeat;
  background-size: 100%; 
}

.star_box {
  width: 400px;
  box-sizing: border-box;
  display: inline-block;
  margin: 15px 0;
  background: #F3F4F8;
  border: 0;
  border-radius: 10px;
  height: 100px;
  resize: none;
  padding: 15px;
  font-size: 13px;
  font-family: sans-serif;
}
.btn02 {
  display:block;
  width: 400px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  max-height: 50px;
  padding: 15px 0;
  font-size: 1.1em;
  text-align: center;
  background:bisque;
}