@charset "UTF-8";

header {height:120px;}
.contents {min-height:550px; background:#FFE2B7;}
.orangeBox {height:550px; width:1150px; background:rgb(255, 249, 239);}
footer {height:100px; color:gray;}
.logo1 {font-size:40px;}
.nav {font-size:20px;}
.nav-link {color:gray;}
.nav-link:hover {color:black;}
#mainLoginBtn {color:gray;}
#mainLoginBtn:hover {color:black;}
.logoAnchor {color:black;}
.logoAnchor:hover {color:black; text-decoration:none;}
.copyright {color:gray;}
.mainLetter1 {font-size:50px;}
.mainLetter2 {font-size:30px; color:gray;}
.letterBox {height:520px;}
.whiteBox {min-height:450px; width:900px; border-radius:30px; background-color:white;}
#loginId {width:400px;}
#password {width:400px;}
#loginBtn {width:100px;}
.signInBtn {color:gray;}
.signInBtn:hover {color:black;}
.logout {color:gray;}
.logout:hover {color:black;}
.userName {color:black;}
.userName:hover {color:gray;}
.exchangeLetter {height:80px;}
.exchangeList {height:420px;}
.changePage {height:50px;}
.exchangeLetter1 {font-size:35px;}
.productOne {height:200px; width:200px; text-align:center; line-height:10px;}
.productImage {height:120px; width:145px;}
.infoBox {height:450px;}
.profileBox {height:180px;}
.degreeBox {height:100px;}
.infoButtonBox {height:170px;}
.postSubject {font-size:12px; text-align:left; color:black;}
.postPrice {font-size:11px; text-align:left; color:black;}
.postAddress {font-size:11px; text-align:left; color:black;}
.likeCount {font-size:10px; text-align:left; color:gray;}
.postAnchor:hover {text-decoration:none;}
.profileImage {height:150px; width:150px;}
.progress {width:430px;}
.myLikeBtn {height:40px; width:430px;}
.myProductBtn {height:40px; width:430px;}
.myExchangeBtn {height:40px; width:430px;}
.detailBox {width:520px; margin: 0 auto;}
.productDetailImage {height:230px;}
.detailBox2 {height:100px;}
.detailBox3 {width:400px;}
.detailBox4 {height:40px;}
.evaluateBox1 {width:600px;}
.evaluateBox2 {height:150px;}
.evaluateBox3 {height:100px;}
.evaluateBox4 {height:100px;}
.evaluateBox5 {height:100px;}
.buyerProfile {width:120px;}
.buyerName {width:120px;}
.pleaseEvaluate {width:360px;}
.star {
	/* 기본 스타일 제거 */
	appearance:none;
	/* 화면에서 숨기기 */
	display:none;
}
.star + .starLabel::before {
	/* 라벨 앞에 비어있는 별 모양을 추가 */
    content: '☆';
    /* 별 모양의 크기를 설정 */
    font-size: 60px;
    /* 별 모양의 기본 색상을 설정 (노란색) */
    color: hsl(60, 80%, 45%);
    /* 마우스 포인터가 변경되도록 설정 */
    cursor: pointer;
}
.star:hover ~ .star + .starLabel::before{
	/* 별을 채워진 별 모양으로 변경 */
    content: '★';
    /* 채워진 별의 색상 설정 */
    color: hsl(60, 80%, 45%);
}